In [35]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import re

def scrape_quarterly_results(stock_code):
    url = f"https://www.screener.in/company/{stock_code}/consolidated/"
    #url = f"https://www.screener.in/company/{stock_code}/"
    
    response = requests.get(url)
    
    if response.status_code == 200:
        soup = BeautifulSoup(response.content, 'html.parser')
        table = soup.find('table', {'class': 'data-table responsive-text-nowrap'})
        
        if table:
            headers = [th.text.strip() for th in table.find_all('th')]
            data = []
            for row in table.find_all('tr')[1:]:
                row_data = [td.text.strip() for td in row.find_all('td')]
                data.append(row_data)
            
            df = pd.DataFrame(data, columns=headers)
            return df
        else:
            print(f"Quarterly results table not found for {stock_code}.")
            return None
    else:
        print(f"Failed to retrieve the webpage for {stock_code}. Status code: {response.status_code}")
        return None

# List of stock codes
stock_codes = [
'AXITA','RISHABH']  # Add or modify stock codes as needed

# Dictionary to store DataFrames
stock_dataframes = {}

# Loop through the stock codes
for stock_code in stock_codes:
    print(f"Scraping data for {stock_code}...")
    results = scrape_quarterly_results(stock_code)
    
    if results is not None:
        # Store the DataFrame in the dictionary with the stock code as the key
        stock_dataframes[stock_code] = results
        print(f"Data for {stock_code} successfully scraped and stored.")
        
        # Optionally, save to CSV
        results.to_csv(f"{stock_code}_quarterly_results.csv", index=False)
        print(f"Data for {stock_code} saved to CSV.")
    else:
        print(f"Failed to scrape data for {stock_code}.")
    
    print("------------------------")
'''
# Function to extract specific metric (Sales or Net Profit) from a DataFrame
def extract_metric(df, metric_name):
    # Use regular expression to find the row that contains the metric name
    pattern = re.compile(metric_name, re.IGNORECASE)
    matching_rows = df[df.iloc[:, 0].str.contains(pattern, na=False)]
    
    if not matching_rows.empty:
        # If multiple matches, prefer exact match or take the first one
        exact_match = matching_rows[matching_rows.iloc[:, 0].str.lower() == metric_name.lower()]
        if not exact_match.empty:
            return exact_match.iloc[0, 1:].tolist()
        return matching_rows.iloc[0, 1:].tolist()
    return [None] * (len(df.columns) - 1)  # Return None for all quarters if metric not found
'''
#new code
def extract_metric(df, metric_name):
    if df is None or df.empty:
        print(f"Warning: DataFrame is empty or None for metric '{metric_name}'")
        return None
    
    pattern = re.compile(f"{metric_name}\\s*\\+?", re.IGNORECASE)
    matching_rows = df[df.iloc[:, 0].str.contains(pattern, na=False, regex=True)]
    
    if not matching_rows.empty:
        return matching_rows.iloc[0].tolist()
    
    print(f"Warning: Metric '{metric_name}' not found in DataFrame")
    return None

#new code ends
'''
# Create summary DataFrames for Sales and Net Profit
sales_data = []
net_profit_data = []

for stock_code, df in stock_dataframes.items():
    if df is not None:
        quarters = df.columns[1:].tolist()  # Exclude the first column (metric name)
        sales = extract_metric(df, 'Sales')
        net_profit = extract_metric(df, 'Net Profit')
        
        sales_data.append([stock_code] + sales)
        net_profit_data.append([stock_code] + net_profit)

# Create the final summary DataFrames
sales_df = pd.DataFrame(sales_data, columns=['Stock Code'] + quarters)
net_profit_df = pd.DataFrame(net_profit_data, columns=['Stock Code'] + quarters)
'''

#new code starts here
def create_summary_dataframe(stock_dataframes, metric_name):
    all_data = []
    all_quarters = set()

    for stock_code, df in stock_dataframes.items():
        if df is not None and not df.empty:
            metric_data = extract_metric(df, metric_name)
            if metric_data:
                quarters = df.columns.tolist()
                all_quarters.update(quarters)
                data_dict = dict(zip(quarters, metric_data))
                all_data.append({
                    'Stock Code': stock_code,
                    'Metric': metric_name,
                    'Data': data_dict
                })
                print(f"Debug: {stock_code} - {metric_name} data: {data_dict}")
            else:
                print(f"Warning: Metric '{metric_name}' not found for {stock_code}")
        else:
            print(f"Warning: No data found for {stock_code}")

    # Sort quarters chronologically
    all_quarters = sorted(list(all_quarters))

    # Create the final summary DataFrame
    summary_data = []
    for item in all_data:
        row = [item['Stock Code']]
        for quarter in all_quarters:
            row.append(item['Data'].get(quarter, None))
        summary_data.append(row)

    return pd.DataFrame(summary_data, columns=['Stock Code'] + all_quarters)

# Debugging function to print DataFrame details
def print_df_details(df, name):
    print(f"\n{name} DataFrame:")
    print(f"Shape: {df.shape}")
    print(f"Columns: {df.columns.tolist()}")
    print(df)
    print("\nData types:")
    print(df.dtypes)
    print("\nNon-null counts:")
    print(df.count())

# Print the first few rows of each stock's DataFrame for debugging
print("\nDebugging: Individual stock DataFrames")
for stock_code, df in stock_dataframes.items():
    print(f"\nFirst few rows of {stock_code} DataFrame:")
    print(df)
    print("------------------------")

# Create summary DataFrames for Sales and Net Profit
print("\nCreating Sales summary...")
sales_df = create_summary_dataframe(stock_dataframes, 'Sales')
print("\nCreating Net Profit summary...")
net_profit_df = create_summary_dataframe(stock_dataframes, 'Net Profit')

# Print debugging information
print_df_details(sales_df, "Sales")
print_df_details(net_profit_df, "Net Profit")
#new code ends here

# Display the summary DataFrames
print("Sales Summary:")
print(sales_df)
print("\nNet Profit Summary:")
print(net_profit_df)

# Optionally, save the summary DataFrames to CSV
sales_df.to_csv('sales_summary.csv', index=False)
net_profit_df.to_csv('net_profit_summary.csv', index=False)

# Print the first few rows of each stock's DataFrame for debugging
for stock_code, df in stock_dataframes.items():
    print(f"\nFirst few rows of {stock_code} DataFrame:")
    print(df.head())
    print("------------------------")

Scraping data for AXITA...
Data for AXITA successfully scraped and stored.
Data for AXITA saved to CSV.
------------------------
Scraping data for RISHABH...
Data for RISHABH successfully scraped and stored.
Data for RISHABH saved to CSV.
------------------------

Debugging: Individual stock DataFrames

First few rows of AXITA DataFrame:
                      Jun 2024
0             Sales +   154.93
1          Expenses +   149.34
2    Operating Profit     5.59
3               OPM %    3.61%
4      Other Income +     0.04
5            Interest     0.45
6        Depreciation     0.33
7   Profit before tax     4.85
8               Tax %   29.28%
9        Net Profit +     3.43
10          EPS in Rs     0.10
11            Raw PDF
------------------------

First few rows of RISHABH DataFrame:
                      Jun 2022 Sep 2022 Dec 2022 Mar 2023 Jun 2023 Sep 2023  \
0             Sales +   124.62   136.52   133.91   174.49   172.47   180.07
1          Expenses +   106.81   122.27   114.86   149.52   155.80   148.39
2    Operating Profit    17.81    14.25    19.05    24.97    16.67    31.68
3               OPM %   14.29%   10.44%   14.23%   14.31%    9.67%   17.59%
4      Other Income +     2.69     1.06     3.96     2.54     4.04     1.62
5            Interest     0.80     0.77     2.28     1.31     1.95     1.38
6        Depreciation     6.16     5.66     1.84     6.80     7.45     6.58
7   Profit before tax    13.54     8.88    18.89    19.40    11.31    25.34
8               Tax %   21.20%   30.63%    6.09%   22.11%   28.65%   12.35%
9        Net Profit +    10.67     6.17    17.74    15.11     8.07    22.21
10          EPS in Rs     7.19     1.70     5.62     5.09     2.72     5.72
11            Raw PDF

    Dec 2023 Mar 2024 Jun 2024
0     159.31   177.91   169.35
1     154.53   159.90   161.80
2       4.78    18.01     7.55
3      3.00%   10.12%    4.46%
4       3.79     2.14     3.90
5       0.61     0.14     0.80
6       4.76     8.81     6.03
7       3.20    11.20     4.62
8   -127.81%   79.38%   30.30%
9       7.29     2.32     3.21
10      2.00     0.63     0.95
11
------------------------

Creating Sales summary...
Debug: AXITA - Sales data: {'': 'Sales\xa0+', 'Jun 2024': '154.93'}
Debug: RISHABH - Sales data: {'': 'Sales\xa0+', 'Jun 2022': '124.62', 'Sep 2022': '136.52', 'Dec 2022': '133.91', 'Mar 2023': '174.49', 'Jun 2023': '172.47', 'Sep 2023': '180.07', 'Dec 2023': '159.31', 'Mar 2024': '177.91', 'Jun 2024': '169.35'}

Creating Net Profit summary...
Debug: AXITA - Net Profit data: {'': 'Net Profit\xa0+', 'Jun 2024': '3.43'}
Debug: RISHABH - Net Profit data: {'': 'Net Profit\xa0+', 'Jun 2022': '10.67', 'Sep 2022': '6.17', 'Dec 2022': '17.74', 'Mar 2023': '15.11', 'Jun 2023': '8.07', 'Sep 2023': '22.21', 'Dec 2023': '7.29', 'Mar 2024': '2.32', 'Jun 2024': '3.21'}

Sales DataFrame:
Shape: (2, 11)
Columns: ['Stock Code', '', 'Dec 2022', 'Dec 2023', 'Jun 2022', 'Jun 2023', 'Jun 2024', 'Mar 2023', 'Mar 2024', 'Sep 2022', 'Sep 2023']
  Stock Code          Dec 2022 Dec 2023 Jun 2022 Jun 2023 Jun 2024 Mar 2023  \
0      AXITA  Sales +     None     None     None     None   154.93     None
1    RISHABH  Sales +   133.91   159.31   124.62   172.47   169.35   174.49

  Mar 2024 Sep 2022 Sep 2023
0     None     None     None
1   177.91   136.52   180.07

Data types:
Stock Code    object
              object
Dec 2022      object
Dec 2023      object
Jun 2022      object
Jun 2023      object
Jun 2024      object
Mar 2023      object
Mar 2024      object
Sep 2022      object
Sep 2023      object
dtype: object

Non-null counts:
Stock Code    2
              2
Dec 2022      1
Dec 2023      1
Jun 2022      1
Jun 2023      1
Jun 2024      2
Mar 2023      1
Mar 2024      1
Sep 2022      1
Sep 2023      1
dtype: int64

Net Profit DataFrame:
Shape: (2, 11)
Columns: ['Stock Code', '', 'Dec 2022', 'Dec 2023', 'Jun 2022', 'Jun 2023', 'Jun 2024', 'Mar 2023', 'Mar 2024', 'Sep 2022', 'Sep 2023']
  Stock Code               Dec 2022 Dec 2023 Jun 2022 Jun 2023 Jun 2024  \
0      AXITA  Net Profit +     None     None     None     None     3.43
1    RISHABH  Net Profit +    17.74     7.29    10.67     8.07     3.21

  Mar 2023 Mar 2024 Sep 2022 Sep 2023
0     None     None     None     None
1    15.11     2.32     6.17    22.21

Data types:
Stock Code    object
              object
Dec 2022      object
Dec 2023      object
Jun 2022      object
Jun 2023      object
Jun 2024      object
Mar 2023      object
Mar 2024      object
Sep 2022      object
Sep 2023      object
dtype: object

Non-null counts:
Stock Code    2
              2
Dec 2022      1
Dec 2023      1
Jun 2022      1
Jun 2023      1
Jun 2024      2
Mar 2023      1
Mar 2024      1
Sep 2022      1
Sep 2023      1
dtype: int64
Sales Summary:
  Stock Code          Dec 2022 Dec 2023 Jun 2022 Jun 2023 Jun 2024 Mar 2023  \
0      AXITA  Sales +     None     None     None     None   154.93     None
1    RISHABH  Sales +   133.91   159.31   124.62   172.47   169.35   174.49

  Mar 2024 Sep 2022 Sep 2023
0     None     None     None
1   177.91   136.52   180.07

Net Profit Summary:
  Stock Code               Dec 2022 Dec 2023 Jun 2022 Jun 2023 Jun 2024  \
0      AXITA  Net Profit +     None     None     None     None     3.43
1    RISHABH  Net Profit +    17.74     7.29    10.67     8.07     3.21

  Mar 2023 Mar 2024 Sep 2022 Sep 2023
0     None     None     None     None
1    15.11     2.32     6.17    22.21

First few rows of AXITA DataFrame:
                    Jun 2024
0           Sales +   154.93
1        Expenses +   149.34
2  Operating Profit     5.59
3             OPM %    3.61%
4    Other Income +     0.04
------------------------

First few rows of RISHABH DataFrame:
                    Jun 2022 Sep 2022 Dec 2022 Mar 2023 Jun 2023 Sep 2023  \
0           Sales +   124.62   136.52   133.91   174.49   172.47   180.07
1        Expenses +   106.81   122.27   114.86   149.52   155.80   148.39
2  Operating Profit    17.81    14.25    19.05    24.97    16.67    31.68
3             OPM %   14.29%   10.44%   14.23%   14.31%    9.67%   17.59%
4    Other Income +     2.69     1.06     3.96     2.54     4.04     1.62

  Dec 2023 Mar 2024 Jun 2024
0   159.31   177.91   169.35
1   154.53   159.90   161.80
2     4.78    18.01     7.55
3    3.00%   10.12%    4.46%
4     3.79     2.14     3.90
------------------------

In [36]:
sales_df

,Stock Code,,Dec 2022,Dec 2023,Jun 2022,Jun 2023,Jun 2024,Mar 2023,Mar 2024,Sep 2022,Sep 2023
0,AXITA,Sales +,None,None,None,None,154.93,None,None,None,None
1,RISHABH,Sales +,133.91,159.31,124.62,172.47,169.35,174.49,177.91,136.52,180.07

In [37]:
net_profit_df

,Stock Code,,Dec 2022,Dec 2023,Jun 2022,Jun 2023,Jun 2024,Mar 2023,Mar 2024,Sep 2022,Sep 2023
0,AXITA,Net Profit +,None,None,None,None,3.43,None,None,None,None
1,RISHABH,Net Profit +,17.74,7.29,10.67,8.07,3.21,15.11,2.32,6.17,22.21

In [1]:


import requests
from bs4 import BeautifulSoup
import pandas as pd
import re

def scrape_quarterly_results(stock_code):
    #url = f"https://www.screener.in/company/{stock_code}/consolidated/"
    url = f"https://www.screener.in/company/{stock_code}/"
    
    response = requests.get(url)
    
    if response.status_code == 200:
        soup = BeautifulSoup(response.content, 'html.parser')
        table = soup.find('table', {'class': 'data-table responsive-text-nowrap'})
        
        if table:
            headers = [th.text.strip() for th in table.find_all('th')]
            data = []
            for row in table.find_all('tr')[1:]:
                row_data = [td.text.strip() for td in row.find_all('td')]
                data.append(row_data)
            
            df = pd.DataFrame(data, columns=headers)
            return df
        else:
            print(f"Quarterly results table not found for {stock_code}.")
            return None
    else:
        print(f"Failed to retrieve the webpage for {stock_code}. Status code: {response.status_code}")
        return None

# List of stock codes
stock_codes = [
'TOLINS',
'AVANTEL']  # Add or modify stock codes as needed

# Dictionary to store DataFrames
stock_dataframes = {}

# Loop through the stock codes
for stock_code in stock_codes:
    print(f"Scraping data for {stock_code}...")
    results = scrape_quarterly_results(stock_code)
    
    if results is not None:
        # Store the DataFrame in the dictionary with the stock code as the key
        stock_dataframes[stock_code] = results
        print(f"Data for {stock_code} successfully scraped and stored.")
        
        # Optionally, save to CSV
        results.to_csv(f"{stock_code}_quarterly_results.csv", index=False)
        print(f"Data for {stock_code} saved to CSV.")
    else:
        print(f"Failed to scrape data for {stock_code}.")
    
    print("------------------------")

def extract_metric(df, metric_names):
    if df is None or df.empty:
        print(f"Warning: DataFrame is empty or None for metrics {metric_names}")
        return None
    
    for metric_name in metric_names:
        pattern = re.compile(f"{metric_name}\\s*\\+?", re.IGNORECASE)
        matching_rows = df[df.iloc[:, 0].str.contains(pattern, na=False, regex=True)]
        
        if not matching_rows.empty:
            return matching_rows.iloc[0].tolist()
    
    print(f"Warning: Metrics {metric_names} not found in DataFrame")
    return None

def create_summary_dataframe(stock_dataframes, metric_names):
    all_data = []
    all_quarters = set()

    for stock_code, df in stock_dataframes.items():
        if df is not None and not df.empty:
            metric_data = extract_metric(df, metric_names)
            if metric_data:
                quarters = df.columns.tolist()
                all_quarters.update(quarters)
                data_dict = dict(zip(quarters, metric_data))
                all_data.append({
                    'Stock Code': stock_code,
                    'Metric': ' / '.join(metric_names),
                    'Data': data_dict
                })
                print(f"Debug: {stock_code} - {' / '.join(metric_names)} data: {data_dict}")
            else:
                print(f"Warning: Metrics {metric_names} not found for {stock_code}")
        else:
            print(f"Warning: No data found for {stock_code}")

    # Sort quarters chronologically
    all_quarters = sorted(list(all_quarters))

    # Create the final summary DataFrame
    summary_data = []
    for item in all_data:
        row = [item['Stock Code']]
        for quarter in all_quarters:
            row.append(item['Data'].get(quarter, None))
        summary_data.append(row)

    return pd.DataFrame(summary_data, columns=['Stock Code'] + all_quarters)

# Debugging function to print DataFrame details
def print_df_details(df, name):
    print(f"\n{name} DataFrame:")
    print(f"Shape: {df.shape}")
    print(f"Columns: {df.columns.tolist()}")
    print(df)
    print("\nData types:")
    print(df.dtypes)
    print("\nNon-null counts:")
    print(df.count())

# Print the first few rows of each stock's DataFrame for debugging
print("\nDebugging: Individual stock DataFrames")
for stock_code, df in stock_dataframes.items():
    print(f"\nFull {stock_code} DataFrame:")
    print(df)
    print("------------------------")

# Create summary DataFrames for Sales/Revenue, Net Profit, and Operating Profit
print("\nCreating Sales/Revenue summary...")
sales_df = create_summary_dataframe(stock_dataframes, ['Sales', 'Revenue'])
print("\nCreating Net Profit summary...")
net_profit_df = create_summary_dataframe(stock_dataframes, ['Net Profit'])
print("\nCreating Operating Profit summary...")
operating_profit_df = create_summary_dataframe(stock_dataframes, ['Operating Profit'])

# Print debugging information
print_df_details(sales_df, "Sales/Revenue")
print_df_details(net_profit_df, "Net Profit")
print_df_details(operating_profit_df, "Operating Profit")

# Optionally, save the summary DataFrames to CSV
sales_df.to_csv('sales_revenue_summary.csv', index=False)
net_profit_df.to_csv('net_profit_summary.csv', index=False)
operating_profit_df.to_csv('operating_profit_summary.csv', index=False)

Scraping data for TOLINS...
Data for TOLINS successfully scraped and stored.
Data for TOLINS saved to CSV.
------------------------
Scraping data for AVANTEL...
Data for AVANTEL successfully scraped and stored.
Data for AVANTEL saved to CSV.
------------------------

Debugging: Individual stock DataFrames

Full TOLINS DataFrame:
                      Jun 2023 Mar 2024 Jun 2024
0             Sales +    33.81    44.55    47.64
1          Expenses +    28.14    37.87    38.23
2    Operating Profit     5.67     6.68     9.41
3               OPM %   16.77%   14.99%   19.75%
4      Other Income +     0.24     0.34     0.03
5            Interest     2.14     1.90     1.73
6        Depreciation     0.33     0.55     0.52
7   Profit before tax     3.44     4.57     7.19
8               Tax %   32.27%   19.69%   25.17%
9        Net Profit +     2.33     3.67     5.38
10          EPS in Rs    46.60     1.20     1.75
11            Raw PDF
------------------------

Full AVANTEL DataFrame:
                      Sep 2021 Dec 2021 Mar 2022 Jun 2022 Sep 2022 Dec 2022  \
0             Sales +       15       29       47       27       36       39
1          Expenses +       10       21       37       19       26       27
2    Operating Profit        5        8       10        8       11       12
3               OPM %      33%      28%      21%      29%      29%      31%
4      Other Income +        0        0        1        0        0        0
5            Interest        0        0        0        1        1        2
6        Depreciation        1        1        1        1        1        1
7   Profit before tax        4        7        9        6        8        9
8               Tax %      18%      18%      21%      18%      18%      19%
9        Net Profit +        4        6        7        5        7        8
10          EPS in Rs     0.14     0.23     0.29     0.21     0.28     0.31
11            Raw PDF

   Mar 2023 Jun 2023 Sep 2023 Dec 2023 Mar 2024 Jun 2024 Sep 2024
0        52       69       54       59       42       52       77
1        33       54       29       34       23       37       42
2        19       15       26       25       19       15       35
3       36%      22%      47%      42%      46%      29%      46%
4         0        0        0        0        0        0        0
5         2        1        2        1        0        1        1
6         1        1        2        2        2        3        3
7        16       12       23       23       17       12       32
8       35%      28%      27%      25%      22%      31%      27%
9        11        9       17       17       13        8       24
10     0.43     0.36     0.69     0.70     0.54     0.33     0.97
11
------------------------

Creating Sales/Revenue summary...
Debug: TOLINS - Sales / Revenue data: {'': 'Sales\xa0+', 'Jun 2023': '33.81', 'Mar 2024': '44.55', 'Jun 2024': '47.64'}
Debug: AVANTEL - Sales / Revenue data: {'': 'Sales\xa0+', 'Sep 2021': '15', 'Dec 2021': '29', 'Mar 2022': '47', 'Jun 2022': '27', 'Sep 2022': '36', 'Dec 2022': '39', 'Mar 2023': '52', 'Jun 2023': '69', 'Sep 2023': '54', 'Dec 2023': '59', 'Mar 2024': '42', 'Jun 2024': '52', 'Sep 2024': '77'}

Creating Net Profit summary...
Debug: TOLINS - Net Profit data: {'': 'Net Profit\xa0+', 'Jun 2023': '2.33', 'Mar 2024': '3.67', 'Jun 2024': '5.38'}
Debug: AVANTEL - Net Profit data: {'': 'Net Profit\xa0+', 'Sep 2021': '4', 'Dec 2021': '6', 'Mar 2022': '7', 'Jun 2022': '5', 'Sep 2022': '7', 'Dec 2022': '8', 'Mar 2023': '11', 'Jun 2023': '9', 'Sep 2023': '17', 'Dec 2023': '17', 'Mar 2024': '13', 'Jun 2024': '8', 'Sep 2024': '24'}

Creating Operating Profit summary...
Debug: TOLINS - Operating Profit data: {'': 'Operating Profit', 'Jun 2023': '5.67', 'Mar 2024': '6.68', 'Jun 2024': '9.41'}
Debug: AVANTEL - Operating Profit data: {'': 'Operating Profit', 'Sep 2021': '5', 'Dec 2021': '8', 'Mar 2022': '10', 'Jun 2022': '8', 'Sep 2022': '11', 'Dec 2022': '12', 'Mar 2023': '19', 'Jun 2023': '15', 'Sep 2023': '26', 'Dec 2023': '25', 'Mar 2024': '19', 'Jun 2024': '15', 'Sep 2024': '35'}

Sales/Revenue DataFrame:
Shape: (2, 15)
Columns: ['Stock Code', '', 'Dec 2021', 'Dec 2022', 'Dec 2023', 'Jun 2022', 'Jun 2023', 'Jun 2024', 'Mar 2022', 'Mar 2023', 'Mar 2024', 'Sep 2021', 'Sep 2022', 'Sep 2023', 'Sep 2024']
  Stock Code          Dec 2021 Dec 2022 Dec 2023 Jun 2022 Jun 2023 Jun 2024  \
0     TOLINS  Sales +     None     None     None     None    33.81    47.64
1    AVANTEL  Sales +       29       39       59       27       69       52

  Mar 2022 Mar 2023 Mar 2024 Sep 2021 Sep 2022 Sep 2023 Sep 2024
0     None     None    44.55     None     None     None     None
1       47       52       42       15       36       54       77

Data types:
Stock Code    object
              object
Dec 2021      object
Dec 2022      object
Dec 2023      object
Jun 2022      object
Jun 2023      object
Jun 2024      object
Mar 2022      object
Mar 2023      object
Mar 2024      object
Sep 2021      object
Sep 2022      object
Sep 2023      object
Sep 2024      object
dtype: object

Non-null counts:
Stock Code    2
              2
Dec 2021      1
Dec 2022      1
Dec 2023      1
Jun 2022      1
Jun 2023      2
Jun 2024      2
Mar 2022      1
Mar 2023      1
Mar 2024      2
Sep 2021      1
Sep 2022      1
Sep 2023      1
Sep 2024      1
dtype: int64

Net Profit DataFrame:
Shape: (2, 15)
Columns: ['Stock Code', '', 'Dec 2021', 'Dec 2022', 'Dec 2023', 'Jun 2022', 'Jun 2023', 'Jun 2024', 'Mar 2022', 'Mar 2023', 'Mar 2024', 'Sep 2021', 'Sep 2022', 'Sep 2023', 'Sep 2024']
  Stock Code               Dec 2021 Dec 2022 Dec 2023 Jun 2022 Jun 2023  \
0     TOLINS  Net Profit +     None     None     None     None     2.33
1    AVANTEL  Net Profit +        6        8       17        5        9

  Jun 2024 Mar 2022 Mar 2023 Mar 2024 Sep 2021 Sep 2022 Sep 2023 Sep 2024
0     5.38     None     None     3.67     None     None     None     None
1        8        7       11       13        4        7       17       24

Data types:
Stock Code    object
              object
Dec 2021      object
Dec 2022      object
Dec 2023      object
Jun 2022      object
Jun 2023      object
Jun 2024      object
Mar 2022      object
Mar 2023      object
Mar 2024      object
Sep 2021      object
Sep 2022      object
Sep 2023      object
Sep 2024      object
dtype: object

Non-null counts:
Stock Code    2
              2
Dec 2021      1
Dec 2022      1
Dec 2023      1
Jun 2022      1
Jun 2023      2
Jun 2024      2
Mar 2022      1
Mar 2023      1
Mar 2024      2
Sep 2021      1
Sep 2022      1
Sep 2023      1
Sep 2024      1
dtype: int64

Operating Profit DataFrame:
Shape: (2, 15)
Columns: ['Stock Code', '', 'Dec 2021', 'Dec 2022', 'Dec 2023', 'Jun 2022', 'Jun 2023', 'Jun 2024', 'Mar 2022', 'Mar 2023', 'Mar 2024', 'Sep 2021', 'Sep 2022', 'Sep 2023', 'Sep 2024']
  Stock Code                   Dec 2021 Dec 2022 Dec 2023 Jun 2022 Jun 2023  \
0     TOLINS  Operating Profit     None     None     None     None     5.67
1    AVANTEL  Operating Profit        8       12       25        8       15

  Jun 2024 Mar 2022 Mar 2023 Mar 2024 Sep 2021 Sep 2022 Sep 2023 Sep 2024
0     9.41     None     None     6.68     None     None     None     None
1       15       10       19       19        5       11       26       35

Data types:
Stock Code    object
              object
Dec 2021      object
Dec 2022      object
Dec 2023      object
Jun 2022      object
Jun 2023      object
Jun 2024      object
Mar 2022      object
Mar 2023      object
Mar 2024      object
Sep 2021      object
Sep 2022      object
Sep 2023      object
Sep 2024      object
dtype: object

Non-null counts:
Stock Code    2
              2
Dec 2021      1
Dec 2022      1
Dec 2023      1
Jun 2022      1
Jun 2023      2
Jun 2024      2
Mar 2022      1
Mar 2023      1
Mar 2024      2
Sep 2021      1
Sep 2022      1
Sep 2023      1
Sep 2024      1
dtype: int64

In [2]:
sales_df

,Stock Code,,Dec 2021,Dec 2022,Dec 2023,Jun 2022,Jun 2023,Jun 2024,Mar 2022,Mar 2023,Mar 2024,Sep 2021,Sep 2022,Sep 2023,Sep 2024
0,TOLINS,Sales +,None,None,None,None,33.81,47.64,None,None,44.55,None,None,None,None
1,AVANTEL,Sales +,29,39,59,27,69,52,47,52,42,15,36,54,77

In [3]:
net_profit_df

,Stock Code,,Dec 2021,Dec 2022,Dec 2023,Jun 2022,Jun 2023,Jun 2024,Mar 2022,Mar 2023,Mar 2024,Sep 2021,Sep 2022,Sep 2023,Sep 2024
0,TOLINS,Net Profit +,None,None,None,None,2.33,5.38,None,None,3.67,None,None,None,None
1,AVANTEL,Net Profit +,6,8,17,5,9,8,7,11,13,4,7,17,24

In [4]:
operating_profit_df

,Stock Code,,Dec 2021,Dec 2022,Dec 2023,Jun 2022,Jun 2023,Jun 2024,Mar 2022,Mar 2023,Mar 2024,Sep 2021,Sep 2022,Sep 2023,Sep 2024
0,TOLINS,Operating Profit,None,None,None,None,5.67,9.41,None,None,6.68,None,None,None,None
1,AVANTEL,Operating Profit,8,12,25,8,15,15,10,19,19,5,11,26,35